.view-page
  %div
    .row
      %h3 Needs by Organization
      %table
        %thead
          %tr
            %th Organization
            %th Need
        %tbody
          - @needs.each do |need|
            %tr
              %td= link_to need.organization.name, organization_path(need.organization) 
              %td= link_to need.description, need_path(need)