.view-page#pageWrapper
  .row
    / Contact Details
    .large-12.columns
      %h3 Tell Us What You're Thinking
      %p
        We'd love to answer any questions or concerns that you may have, as well as receive feedback from community members such as yourself!
      %h5.title Contact Connect 2 Good
      .content
        %form
          .row.collapse
            .large-2.columns
              %label.inline Your Name
            .large-10.columns
              %input#yourName{placeholder: "Jane Smith", type: "text"}/
          .row.collapse
            .large-2.columns
              %label.inline Your Email
            .large-10.columns
              %input#yourEmail{placeholder: "jane@smithco.com", type: "text"}/
          %label What's on your mind?
          %textarea
          %button.radius.button{type: "submit"} Submit
