.view-page#pageWrapper
  .large-1.small-1.columns
    %p
      \
  .large-10.small-10.columns
    %div
      .row
        = render "form"
        %h5= link_to "Back", :back
  .large-1.small-1.columns
    %p
      \
