.view-page
  .large-3.small-1.columns
    %p
      \
  .large-6.small-10.columns
    %div
      .row
        %h4 Tell us a bit about what you have:
        %p= params[:need_id]
        = render "form"
  .large-3.small-1.columns
    %p
      \