.org-edit .edit_organization {
  display: none;
}

.org-create .new_organization {
  display: none;
}


.pending-color {
  color: #CCC602;
}

.denied-color {
  color: red;
}

.accepted-color {
  color: green;
}