

%h4 
  = @organization.name

%p 
  = @organization.description

%p 
  = link_to "View all organizations", organizations_path

%p 
  = link_to "View this organization's needs"
  / need to add additional routes for this link
